<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

</head>
<body ng-app="myapp" ng-controller="myctr">
<h2>ng-Filter Uppercase</h2>
<hr>
<div >
    <h3>Student names:</h3>
    <ul>
        <li ng-repeat="x in list">{{x|uppercase}}</li>
        <li ng-repeat="x in name">{{x|lowercase}}</li>
    </ul>
    <hr>
    <p>Search name:<input ng-model='search'></p>
    <h3>Result</h3>
    <ul>
        <li ng-repeat="x in list|filter:search">{{x}}</li>

    </ul>

</div>
</body>
<script>
    var app= angular.module("myapp",[]);
    app .controller("myctr",function($scope){
        $scope.list=["nguyen loc","hoang ha",'tran thang','tran quan'];
        $scope.name=["nguyen loc","hoang ha",'tran thang','tran quan'];
    });
</script>
</html>