<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-app>
    <h2>ng-reapeat demo</h2>
    <hr>
    <div ng-app 
    ng-init="cities=['Saigon','Hanoi','Hue']" >
    <div>
        Cities:
        <select ng-model='city'>
            <option ng-repeat="x in cities">{{x}}</option>
        </select>
    </div>
        <ul>
            <li ng-repeat="x in cities">{{x}}</li>
        </ul>
    </div>
    <p>
        cities is {{city}}
    </p>
</body>
</html>